.logo {
  margin-left: 15px;
  margin-top: 30px;
}

.app {
  margin: auto 10%;
  width: 80%;
}

.appColumn {
  vertical-align: top;
}

.appTable {
  width: 100%
}

.projectFilesTable,
.workspaceTable {
  width: 100%;
}

.projectFiles,
.workspaceFiles,
.projectFilesTable th,
.workspaceTable th {
  text-align: start;
}

.projectFilesTable tr,
.workspaceTable tr {
  background-color: var(--vscode-tree-tableColumnsBorder);
}

.projectFilesTable tr:nth-child(even),
.workspaceTable tr:nth-child(even) {
  background-color: var(--vscode-tree-tableOddRowsBackground);
}

tr:nth-child() [type="checkbox"] {
  vertical-align: middle;
}

center {
  margin-left: 2%;
  margin-right: 7%;
}

[type="text"] {
  width: 100%;
}

.Caption {
  text-align: center;
  margin-top: 70px;
}

span {
  font-size: 20.0pt;
  line-height: 107%;
}

tr:nth-child(odd) {
  background-color: var(--vscode-breadcrumbPicker-background);
}

input,
textarea {
  padding: 0px 3px 0px 3px;
  margin-left: 10px;
}

select,
#canclebutton {
  margin-left: 10px;
}

.centerCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

button {
  background-color: var(--ev-background-color);
  border-radius: 20px;
  border: 1px solid var(--ev-background-color);
  /* display: inline-block; */
  cursor: pointer;
  color: #ffffff;
  padding: 6px 19px;
  text-decoration: none;
  /* width: 50px;
  height: 23px; */
}

button:hover {
  background-color: var(--ev-hover-color);
  color: black;
}

.tabs {
  overflow: hidden;
  background-color: var(--ev-background-color);
  border: 1px solid var(--ev-border-color);
  border-radius: 20px;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 0px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: var(--ev-hover-color);
  color: black;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: var(--ev-hover-color);
  color: black;
}