.logo {
    margin-left: 15px;
    margin-top: 30px;
    /*position: relative;
    left: 50%;
    transform: translateX(-38%);*/
}

#settings {
    text-align-last: right;
    margin-top: -70px;
    margin-right: 10px;
}

[type="checkbox"] {
    vertical-align: middle;
}

.Caption {
    text-align: center;
    margin-top: 70px;
}

.ColumnHeaderCenter {
    text-align-last: center;
}

.ColumnHeaderLeft {
    text-align-last: left;
}

.ColumnHeaderLeftExpired {
    text-align-last: left;
    color: red;
}
span {
    font-size: 20.0pt;
    line-height: 107%;
}

table {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

tr {
    height: 6pt;
}

td {
    width: 160pt;
    height: 16pt;
    /*border: solid #999999 1.0pt;
    border-bottom: solid #666666 1.5pt;*/
    padding: 0cm 5.4pt 0cm 5.4pt;
    vertical-align: top;
}

td p {
    margin-bottom: 0cm;
    text-align: left;
    line-height: normal;
    height: 14pt;
}

td p span {
    font-size: 12.0pt;
}

.loading {
    animation-name: flashing;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.stop {
    background-color: #1dde3c !important;
    border: 1px #1dde3c !important;
    color: black !important;
}

.stop:hover {
    background-color: #1eef3f !important;
}

.dropdownButton {
    background-color: var(--ev-background-color);
    border-radius: 20px;
    border: 1px solid var(--ev-background-color);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 19px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.dropdownButton:hover {
    background-color: var(--ev-hover-color);
}

.dropdownButton:active {
    position: relative;
    top: 1px;
}

.dropdownButton:focus {
    outline: none;
}

.button {
    padding: 6px 19px;
}

#table {
    display: none;
}

@keyframes flashing {
    0% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1.0;
    }
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: -webkit-center;
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: var(--ev-hover-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: -webkit-fill-available;
    /*margin-left: 10%;
    margin-right: 10%;*/
}

.dropdown-content a {
    color: white;
    padding: 6px 19px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 20px;
    background-color: var(--ev-background-color);
    color: black;
    font-weight: bold;
}

.dropdown-content a:focus {
    outline: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.apps {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.apps-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: var(--vscode-editor-background);
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.apps-close {
    /*color: white;*/
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.apps-close:hover,
.apps-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.apps-header {
    padding: 2px 16px;
}

.apps-body {
    padding: 2px 16px;
}

.apps-footer {
    padding: 2px 16px;
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loading-animation div {
    position: absolute;
    animation: loadingAnimation 2s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 var(--ev-background-color);
    transform-origin: 80px 82px;
}

.loading-eclipse {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.loading-animation {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loading-animation div {
    box-sizing: content-box;
}