* {
  box-sizing: border-box;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.tabs {
  overflow: hidden;
  background-color: var(--ev-background-color);
    border: 1px solid var(--ev-border-color);
  border-radius: 20px;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: var(--ev-hover-color);
  color: black;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: var(--ev-hover-color);
  color: black;
}


/* Style the tab */
.menu {
  float: left;
  width: 10%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.menu button {
  background-color: var(--ev-background-color);
  border-radius: 20px;
  border: 1px solid var(--ev-border-color);
  display: inline-block;
  cursor: pointer;
  padding: 6px 19px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin-top: 4px;
}

/* Change background color of buttons on hover */
.menu button:hover {
  background-color: var(--ev-hover-color);
  color: black;
}

/* Create an active/current "tab button" class */
.menu button.active {
  background-color: var(--ev-hover-color);
  position: relative;
  color: black;
}

.menu button:focus {
  outline: none;
}

/* Style the tab content */
.menucontent {
  float: left;
  padding: 0px 12px;
  border: 0px solid #ccc;
  width: 80%;
  border-left: none;
  height: 100%;
  display: none;
  margin-top: 10px;
  resize: none;
  background-color: var(--vscode-editor-background);
}

.menucontent.active {
  display: block;
}

.menucontent:focus {
  outline: none;
}

.context-menu {
  position: absolute;
  text-align: center;
  background-color: var(--ev-background-color);
  border-radius: 20px;
  border: 1px solid var(--ev-border-color);
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

.context-menu ul li {
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 20px;
}

.context-menu ul li:hover {
  background-color: var(--ev-hover-color);
  color: black;
  border: 1px solid black;
}