.logo {
    margin-left: 15px;
    margin-top: 30px;
}

[type="checkbox"] {
    vertical-align: middle;
}

.Caption {
    text-align: center;
    margin-top: 70px;
}

span {
    font-size: 20.0pt;
    line-height: 107%;
}

tr:nth-child(odd) {
    background-color: var(--vscode-breadcrumbPicker-background);
}

input, textarea {
    padding: 0px 3px 0px 3px;
    margin-left: 10px;
}

select,
#canclebutton {
    margin-left: 10px;
}

button {
    background-color: var(--ev-background-color);
    border-radius: 20px;
    border: 1px solid var(--ev-background-color);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 19px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

button:hover {
    background-color: var(--ev-hover-color);
}

button:active {
    position: relative;
    top: 1px;
}

.submit button:focus {
    outline: none;
}

.licensefile i,
.sqlbackupfile i{
    width: 19px;
    height: 19px;
    position: absolute;
    background: var(--ev-background-color);
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
}

.licensefile i:hover,
.sqlbackupfile i:hover {
    background: var(--ev-hover-color);
}

.licensefile::after
.sqlbackupfile::after {
    content: "";
}